@page "/"
<PageTitle>Home</PageTitle>

<div style="background-color: aqua;">

    <h1>Wecome to my Spotify App</h1>

</div>

Here you can search songs, explore spotify, find concerts, search spotify users etc.

<SurveyPrompt Title="How is Blazor working for you?" />
