@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/> 
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" style="background-color: darkgray;"><a href="https://ciara-agar.github.io/cablazor/" target="_blank">Github Link to Deployed Site</a></button>
            
        </div>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
