<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Spotify App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <!-- Existing nav items -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- New song search  -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spotify-search">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Search Song
            </NavLink>
        </div>

        <!-- Explore  -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="browse-spotify">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Explore
            </NavLink>
        </div>

        <!-- Concerts  -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="concerts">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Concerts
            </NavLink>
        </div>

        <!-- Users  -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="bi bi-search-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
