@page "/"
@* Import the styles.css file *@
<style>
    body {
        background-color: grey;
        color: white;
    }
</style>
<link href="path/to/your/styles.css" rel="stylesheet" />
<div class="center-content">
    <div style="background-color: rgb(0, 138, 0);">
    <h1>Home</h1>
    </div>

    <div class="center-content">
        <h1>Welcome to my Spotify App</h1>
        <p>Here you can search songs, explore Spotify, find concerts, search Spotify users playlists, etc.</p>
        <img src="https://th.bing.com/th/id/OIP.YxiYUeOerOhhuTm7TRfV5QHaHa?w=234&h=220&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Spotify Logo">
    </div>

</div>